BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 0
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyBreakComment: 1000
PenaltyExcessCharacter: 1
PenaltyReturnTypeOnItsOwnLine: 1000
ContinuationIndentWidth: 0
KeepEmptyLinesAtTheStartOfBlocks: false
ReflowComments: false
BinPackArguments: false
BinPackParameters: false
PenaltyBreakAssignment: 1000